!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/underscore.js')
    script(src='/js/game.js')
    script(src='/js/stage.js')
    script(src='/js/player.js')
    script(src='/js/characters/princess.js')
    script(src='/js/main.js')